body{
    margin: 1em;
    padding: 0;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    color:white;
    background: linear-gradient(140deg, #293031 60%, #15112e 60%)
  }
  h2{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: gold;
  }
  ul {
    list-style: none;
  }
  p{
    font-size: 20px;
  }

  /*NAVIGATION BAR*/
  nav{
    background-color: rgba(12, 11, 11, 0.925);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    z-index: 1;
  }
  
  nav ul li{
    float: right;
    margin-right: 40px;
    list-style-type: none;
  }
  
  .nav-link {
    color:gold;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: whitesmoke;
    font-style: italic;
  }
  
  #brand{
    float: left;
    font-weight: bold;
  }
  
  


  /*INTRODUCTION*/
  .intro{
    font-size: 20px;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    text-align: right;
    color:black;
    padding: 2em;
    margin: auto;
    margin-top: 2.5em;
    background: linear-gradient(140deg, #dbfa50 60%, #ffde4b 60%);
  }
  
  /*INTRO-BUTTONS*/
  ul.intro-buttons > li {
    display: inline-block;
    margin-bottom: 0px;
    padding: 0;
}
  .btn{
    color: rgb(24, 22, 22);
    border: 2px outset rgba(240, 233, 233, 0.9);
    background: #f8e3e3;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
  }
  .btn:hover {
    color: #fff;
    border: 2px outset rgba(160, 156, 156, 0.9);
    background: rgba(121, 116, 116, 0.9);
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
  }

  /*ABOUT SECTION*/
 .about{
margin-top: 5em;
 }
  .col{
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
   margin-bottom: 10em;
  }
  .col img{
    margin-left: -5em;
  }
/*PROFILE IMAGE*/
#profile-pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius:50em;
  box-shadow: 5px 5px 5px rgb(228, 243, 91);
  border: 3px rgb(14, 13, 13) solid;
}


/*SKILLS*/
.skill-education{
  margin-top: 10em;
}
.skill {
  text-align: right;
  padding: 2px;
  color:white;
}

.html {width: 80%; background-color: #4CAF50;}
.css {width: 70%; background-color: #2196F3;} 
.c {width: 50%; background-color: #f44336;}
.api {width: 60%; background-color: #b09bd8;}

/*EDUCATION/EXPERIANCE*/
#acheive{
font-size: 20px;
}

/*PROJECTS*/
.projects{
  margin-top: 10em;
}
.col-md-3{
  margin-left: 3em;
  text-align: center;
}
.row .col-md-3{
  margin-left: 5em;
}
.portfolio-caption{
  background: black;
}


/*CONTACT FORM*/
.contact-form{
  margin-top: 10em;
  background: linear-gradient(100deg, rgb(245, 55, 55),rgb(252, 196, 205));
}
form label{
  width:5em;
}
form input, form textarea{
  width: 50em;
}
button{
  margin-left: 5em;
}


/* FOOTER */
footer{
    position: relative;
    text-align: center;
    color: whitesmoke;
}
footer ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1em;
}
footer a{
  color:whitesmoke;
}